body {
  padding-top : 70px;
}

#main_nav {
  .navbar-header{
    

    .logo {
      position : absolute;
      top : 2px;

      img {
        height: 46px;
      }
    }

    .logo + span {padding-left : 55px;}
  } 
}