<div class="home" ng-controller="homeCtrl">

<!--
<ul class="nav nav-pills nav-stacked">
  <li><a href="?#pages">Pages</a></li>
  <li><a href="?#users">Active users</a></li>
</ul>
 -->

<h3>chrome extension</h3>

<h3>games</h3>

<h3 id="pages">wikipedia pages</h3>

<div ng-controller="pagesListCtrl">

<table class="table">

<thead>
<tr>
  <th></th>
  <th>url</th>
  <th>hits</th>
  <th>readers</th>
  <th>last view</th>
</tr>
</thead>

<tbody>
<tr ng-repeat="page in pages | orderBy:['-readers_number','-hits', '-last_view']">
  <td><span ng-if="visited_by_me(page)" class="label label-warning">you</span></td>
  <td><a href="/page/{{ page.url }}">{{ page.url }}</a></td>
  <td>{{ page.hits }}</td>
  <td>{{ page.readers_number }}</td>
  <td>{{ page.last_view | date:"dd.MM.yyyy HH:mm:ss"}}</td>
</tr>
</tbody>

</table>

</div>

<h3 id="users">active users</h3>

<div ng-include="'/partials/users.active.html'"></div>

</div>