<div ng-controller="playgroundListCtrl">

<button class="btn btn-primary" ng-click="login()">login</button>

<h3>
your visualizations

<a href='/playground/new' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></a>
</h3>

<div ng-if="visualizations.length > 0">
<table class="table table-striped table-hover">
<tbody>
  <tr ng-repeat="v in visualizations" ng-click="open_viz(v.id)">
    <td>{{ v.id }}</td>
    <td>{{ v.title }}</td>
    <td>{{ v.updatedAt | date:"dd.MM.yyyy HH:mm:ss" }}</td>
    <td>{{ v.createdAt | date:"dd.MM.yyyy HH:mm:ss" }}</td>
  </tr>
</tbody>
</table>
</div>
<div ng-if="visualizations.length == 0">
<p>you do not have any visualization ! Want to <a href="/playground/new">create a new one</a> ? :)</p>
</div>

</div>