<div id="playground" ng-controller="PlaygroundCtrl">

<nav id="control" class="navbar">
  <div class="navbar-inner">
    <a href="#" class="brand"><img src="/images/logo-blue-20x20.png" style="height:20px; " /> playground</a>

    <ul class="nav pull-right">
      <li><button class="btn" ng-click="toggle('dataset')">dataset</button></li>
      <li><button class="btn" ng-click="toggle('code')">code</button></li>
      <li><button class="btn btn-success" ng-click="render()">render</button></li>
      <li ng-if="not_logged"><button class="btn btn-primary" ng-click="login()">login</button></li>
      <li ng-if="me_is_owner"><button class="btn btn-danger" ng-click="save()">save</button></li>

    </ul>
  </div>
</nav>

<div ng-include src="'/partials/dataset.html'" ng-hide="hide_dataset"></div>
<div ng-include src="'/partials/code.html'" ng-hide="hide_code"></div>

<div id="scene" ng-bind-html="codeHtml"></div>

</div>